@import "../../../shared/_base.scss";

.cell {
  @include float;

  font-family: "mine-sweeper";
  box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  user-select: none;
  cursor: pointer;
  border: 3px solid;
  border-top-color: #ffffff;
  border-right-color: #7b7b7b;
  border-bottom-color: #7b7b7b;
  border-left-color: #ffffff;
  background-color: #bdbdbd; // default hidden color

  &.pressed {
    background-color: #ccc; /* darker or different color */
    transform: translateY(2px);
    transition: none; /* immediate press effect */
  }

  &.revealed {
    background-color: #e0e0e0;
    border: 1px solid;
    border-color: #ccc;
    cursor: default;
  }

  &.mine {
    color: black;
    background-color: #ffaaaa;
  }

  &.empty {
    background-color: #e0e0e0;
    color: transparent;
  }

  // Colors for different numbers
  &.adj-1 {
    color: blue;
  }
  &.adj-2 {
    color: green;
  }
  &.adj-3 {
    color: red;
  }
  &.adj-4 {
    color: darkblue;
  }
}
