.board {
  background-color: #bdbdbd;
  width: fit-content;
  border: 3px solid;
  border-bottom-color: #ffffff;
  border-left-color: #7b7b7b;
  border-top-color: #7b7b7b;
  border-right-color: #ffffff;
}
.row {
  display: flex;
  flex-direction: row;
}
